main {

    #UpBanner {
        display: flex;
        justify-content: center;
        color: white;
        height: 90vh;
        
        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        #upBannerText {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 5vh;
            
            h3 {
                font-style: italic;
                font-size: 2.25rem;
            }

            h1 {
                font-size: 4.5rem;
            }
        }
    }

    #Services {
        display: flex;
        flex-direction: column;
        gap: 5vh;

        #servicesCards {
            display: flex;
            justify-content: space-evenly;
            
            .servicesCard {
                display: flex;
                align-items: center;
                flex-direction: column;
                text-align: center;
                width: 50vh;
                gap: 2vh;

                i {
                    background-color: #ffc800;
                    width: 20vh;
                    height: 20vh;
                    padding: 5vh 0;
                    border-radius: 30vh;
                    color: white;
                    font-size: 10vh;
                }

                p {
                    color: #6c757d;
                    line-height: 4vh;
                    font-weight: 500;
                }
            }
        }
    }

    #Portfolio {
        display: flex;
        flex-direction: column;
        background-color: #f8f9fa;
        margin-top: 6vh;
        padding-bottom: 9vh;

        #portfolioCards {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 4vh;

            .portfolioCard {
                display: flex;
                flex-direction: column;

                img {
                    object-fit: contain;
                    width: 60vh;
                    height: 50vh;
                    margin-bottom: -3vh;
                }


                .portfolioCardHeader {
                    background-color: white;
                    width: 60vh;
                    padding: 4.5vh 0 4.5vh 0;

                    text-align: center;

                    h4 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 16px;
                        font-style: italic;
                        color:#6c757d;
                    }
                }
            }
        }
    }

    #About {

        #aboutInfo {
            display: flex;
            flex-direction: column;
            gap: 5vh;
            margin-bottom: 10vh;

            .aboutImageWithText {
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
    
                img {
                    border: 7px solid #e9ecef; 
                    border-radius: 20vh;
                    object-fit: contain;
                    width: 25vh;
                    margin-bottom: 15vh;
                    z-index: 1;
                }
                
                &::after {
                    content: "";
                    position: absolute;
                    top: 25vh;
                    left: 105vh;
                    border-right: 2px solid #e9ecef;
                    width: 1vh;
                    height: 65vh;
                    z-index: -1;
                }
    
                .aboutImageBothText {
                    line-height: 32px;
                    position: absolute;
                    top: 0;
                    width: 70vh;
                    z-index: 1;
                }

                .aboutImageTextLeft {
                    left: 10vh;
                    text-align: right;
                }

                .aboutImageTextRight {
                    right: 10vh;
                    text-align: left;
                }

                #aboutLastBox {
                    width: 25vh;
                    height: 25vh;
                    border-radius: 30vh;
                    border: 7px solid #e9ecef; 
                    background-color: #ffc800;
                    color: white;
                    padding: 8vh 4.4vh;
                    font-weight: bold;
                }
            }
        }
    }

    #Team {
        background-color: #f8f9fa;
        display: flex;
        flex-direction: column;
        gap: 5vh;

        #teamCards {
            display: flex;
            justify-content: space-evenly;

            .teamCard {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 2vh;

                img {
                    border: 7px solid #e9ecef; 
                    border-radius: 20vh;
                    object-fit: contain;
                    width: 30vh;
                }
            }
        }

        p {
            text-align: center;
            padding-bottom: 5vh;
        }
    }
}