* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.sectionHeaders {
    margin: 8vh;
    display: flex;
    align-items: center;
    gap: 2vh;
    flex-direction: column;

    h2 {
        font-size: 40px;
    }

    p {
        font-style: italic;
    }
}

.buttonLikeClickableLinks {
    color: white;
    background-color: #ffc800;
    padding: 4vh;
    width: 35vh;
    text-align: center;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
        background-color: #d9aa00;
    }
}

.socialLinks {

    ul {
        list-style-type: none;
        display: flex;
        gap: 2vh;

        li {
            cursor: pointer;
            padding: 10px;
            background-color: #212529;
            border-radius: 25vh;
            width: 6vh;
            height: 6vh;
            bottom: 0;
            text-align: center;

            i {
                color: white;
                font-size: 18px;
            }

            &:hover {
                background-color: #424649;
                bottom: 15px;
            }
        }
    }
}